:root {
    --ff-sans: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;

    --c-base: #d4a46a;
    --c-light: #fcd5a5;
    --c-lighter: #ffe8cc;
    --c-dark: #aa7739;
    --c-darker: #7d4d13;
}

*,
*::before,
*::after {
    /*Evita sorpresas con padding/ancho*/
    box-sizing: border-box;

    margin: 0;
}

body {
    /* Remove default browser margin that can offset centering */
    margin: 0;
    /* Make body fill the viewport so justify-content centers vertically */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-sans);

    background-color: var(--c-base);

    gap: 2rem;
}

.main {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.card {
    background-color: var(--c-light);
    border: 0.25rem solid var(--c-lighter);

    padding: 2rem;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 1.5rem;
}

.card__info {
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.form {
    display: flex;

    gap: 1rem;
}

.form > * {
    padding: 1rem 2rem;
    border-radius: 2rem;

    font-size: 1.25rem;

    border: 0.25rem solid var(--c-lighter);
}

.form__input {
    background-color: var(--c-light);
    opacity: 0.6;
    flex-grow: 1;
}

.form__button {
    background: var(--c-light);
    font-weight: bold;
    transition: 0.3s all;
}

.form__button:hover {
    cursor: pointer;
    opacity: 0.6;
}
