:root {
    --ff-sans: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

*,
*::before,
*::after {
    /*Evita sorpresas con padding/ancho*/
    box-sizing: border-box;

    margin: 0;
}

body {
    /* Remove default browser margin that can offset centering */
    margin: 0;
    /* Make body fill the viewport so justify-content centers vertically */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-sans);
}

.card {
    background-color: bisque;

    width: min(26rem, 80vw);
    height: 50vh;
    padding: 2rem;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 1.5rem;
}

.card__info {
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}
